<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <retailops>
            <RetailOps>
                <turn_on>1</turn_on>
                <enable_log>1</enable_log>
                <order_count>20</order_count>
            </RetailOps>
            <RetailOps_feed>
                <inventory_push>1</inventory_push>
            </RetailOps_feed>
            <RetailOps_advanced>
                <cancel_queue>1</cancel_queue>
            </RetailOps_advanced>
        </retailops>
    </default>
</config>
