<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="retailops_before_pull_order_cancel">
        <observer name="Shiekhdev_retail_ops_logger" instance="\Shiekhdev\RetailOps\Observers\Logger" />
    </event>
    <event name="retailops_before_pull_order_acknowledge">
        <observer name="Shiekhdev_retail_ops_logger" instance="\Shiekhdev\RetailOps\Observers\Logger" />
    </event>
    <event name="retailops_before_pull_order">
        <observer name="Shiekhdev_retail_ops_logger" instance="\Shiekhdev\RetailOps\Observers\Logger" />
    </event>
    <event name="retailops_before_pull_order_update">
        <observer name="Shiekhdev_retail_ops_logger" instance="\Shiekhdev\RetailOps\Observers\Logger" />
    </event>

</config>