<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <type name="\RetailOps\Api\Controller\RetailOps">
        <plugin name="authorize" type="\RetailOps\Api\Plugin\Authorized" />
    </type>
    <type name="\RetailOps\Logger\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="\RetailOps\Api\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">retailLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">\RetailOps\Logger\Base</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="retailops" xsi:type="array">
                    <item name="class" xsi:type="string">\RetailOps\Api\CustomRouter\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">22</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
